{%- assign default_paths = site.pages | sort: 'order' | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <h1 class="header-brand">
    <a rel="author" title="{{ site.title | escape }}" href="{{ "/" | relative_url }}">{{ site.brand | escape }}</a>
  </h1>
  <nav class="header-nav">
    <ul>
      {%- for path in page_paths  -%}
        {%- assign node = site.pages | where: "path", path | first -%}
        {%- if node.title -%}
          <li class="{% if page.url == node.url or node.url contains page.layout %}is-selected{% endif %}">
              <a href="{{ node.url | relative_url }}">{{ node.title | escape }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</header>