/* 
  RESET

  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

/*
  STRUCTURE
*/

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: #fff;
  color: #444;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
  padding: 2rem;
}

header {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
  HEADER
*/

.header-brand {
  font-size: 4rem;
  font-family: 'Marck Script', cursive;
  color: #FF6B6B;
}

/*
  NAVIGATION
*/

.header-nav {
  text-transform: lowercase;
  color: #556270;
}

.header-nav .is-selected a {
  color: #C7F464;
  font-size: 2.4rem;
}

.header-nav a {
  transition: color 150ms ease;
}

.header-nav a:hover {
  color: #4ECDC4;
}

/*
  CONTENT
*/

.content {
  font-size: 1.6rem;
  font-weight: 300;
}

.content p {
  margin-bottom: 1rem;
}

.content-lead {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.content span {
  position: relative;
  font-weight: 400;
  color: #556270;
}

.content span:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.15rem;
  position: absolute;
  background-color: #FF6B6B;
  left: 0;
  bottom: -0.15rem;
}

.content-lead span {
  font-weight: 600;
  color: #4ECDC4;
}

.content-lead span:after {
  height: 0.25rem;
  background-color: #C7F464;
  bottom: -0.25rem;
}

/*
  INTRO SECTION
*/

.intro-photo {
  margin: 1rem auto;
}

.intro-photo img {
  max-width: 250px;
  border-radius: 50%;
}

@media (min-width: 940px) {
  body {
    padding: 0;
  }

  header {
    position: absolute;
    right: 0;
    text-align: right;
    padding: 2rem;
  }

  .header-nav {
    margin-top: 1.6rem;
  }
  
  .header-nav li {
    margin-bottom: 0.2rem;
  }

  main {
    padding: 2rem;
    max-width: 80%;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }

  .intro {
    display: table;
    border-collapse: collapse;
  }

  .intro .content-description {
    display: table-cell;
  }

  .intro-photo {
    padding-right: 2rem;
    display: table-cell;
    vertical-align: middle;
  }

  .intro-photo img {
    max-width: 300px;
  }
}