<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="{{ page.class }} content">
      {{ content }}
    </main>
    
    {% if page.layout == 'work' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.4.4/lory.min.js"></script>
    <script>
        'use strict';

        document.addEventListener('DOMContentLoaded', function() {
            var slider = document.querySelector('.js_slider');
            if (slider && lory) {
              lory(slider, {
                rewind: true,
              });
            }
        });
    </script>
    {% endif %}

  </body>

</html>
