<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="{{ page.class }} content">
      {{ content }}
    </main>
    
    {% if page.layout == 'work' %}
    <script src="https://cdn.jsdelivr.net/npm/halkabox@1.3.0/dist/halkaBox.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          halkaBox.run('work-gallery', {
              hideButtons: true,
              animation: 'fade',
              theme: 'light',
              preload: 2
          });
        });
    </script>
    {% endif %}

    {% if page.class == 'intro' %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var age = document.querySelector('#age');
          if (age) {
            var birthday = +new Date('1991-10-03');
            age.innerText = ~~((Date.now() - birthday) / (31557600000));
          }
        });
    </script>
    {% endif %}

  </body>

</html>
