---
layout: default
---

{% assign lemonchili = site.works | where: 'company', 'lemonchili' %}
{% assign peppermelon = site.works | where: 'company', 'peppermelon' %}

<section class="content-description">
  <h2 class="content-lead">These are works for <span>LemonChili</span>.</h2>
  {% for work in lemonchili %}
    <a class="works-item" href="{{ work.url }}">
      <img src="{{ work.slug | prepend: '/assets/images/works/' | append: '.png' | relative_url }}" alt="{{ work.title }}">
      <span>{{ work.title }}</span>
    </a>
  {% endfor %}
</section>

<section class="content-description">
  <h2 class="content-lead">These are works for <span>Peppermelon</span>.</h2>
  {% for work in peppermelon %}
    <a class="works-item" href="{{ work.url }}">
      <img src="{{ work.slug | prepend: '/assets/images/works/' | append: '.png' | relative_url }}" alt="{{ work.title }}">
      <span>{{ work.title }}</span>
    </a>
  {% endfor %}
</section>