---
layout: default
---

<div class="content-wrapper">
  <h2 class="content-lead">Featured work: <strong>{{ page.title }}</strong></h2>

  <section class="content-description">
    {{ content }}
  </section>
  
  {% assign images = site.static_files | where: 'image', true | where_exp: 'item', 'item.path contains page.slug' | where_exp: 'item', 'item.path contains "stills"' %}
  {% if images.size > 0 %}
  <section class="works-images">
    {% for image in images %}
      <a href="{{ image.path }}" class="work-gallery" title="{{ page.title }}">
        <img src="{{ image.path | replace: 'stills', 'thumbs' }}" alt="{{ page.title }}">
      </a>
    {% endfor %}
  </section>
  {% endif %}
  
  {% if page.videos %}
  <section class="works-videos">
    {% for video in page.videos %}
      {% include video.html url=video %}
    {% endfor %}
  </section>
  {% endif %}
  
  <a class="works-back" href="/works">See all works</a>
</div>