/* 
  RESET

  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

/**
* (optional) define here the style definitions which should be applied on the slider container
* e.g. width including further controls like arrows etc.
*/
.slider {
  width: 100%;
  max-width: 700px;
  position: relative; }

.frame {
  /**
  * (optional) wrapper width, specifies width of the slider frame.
  */
  width: 100%;
  max-width: 700px;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap; }

.slides {
  display: inline-block; }
  .slides li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    /**
    * (optional) if the content inside the slide element has a defined size.
    */
    width: 100%; }
    .slides li img {
      max-width: 100%; }

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer; }

.next {
  right: 0; }

.prev {
  left: 0; }

.next svg, .prev svg {
  width: 25px; }

/*
  STRUCTURE
*/
html {
  font-size: 16px;
  height: 100%; }

body {
  background-color: #fff;
  color: #444;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
  padding: 2rem; }

header {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem; }

a {
  text-decoration: none;
  color: inherit;
  transition: color 150ms ease; }

strong {
  font-weight: 600; }

/*
  HEADER
*/
.header-brand {
  font-size: 4rem;
  font-family: 'Marck Script', cursive;
  color: #FF6B6B; }

/*
  NAVIGATION
*/
.header-nav {
  text-transform: lowercase;
  color: #556270; }

.header-nav .is-selected a {
  color: #C7F464;
  font-size: 2.4rem; }

.header-nav a:hover {
  color: #4ECDC4; }

/*
  CONTENT
*/
.content {
  font-size: 1.6rem;
  font-weight: 300; }

.content p {
  margin-bottom: 1rem; }

.content-lead {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 400; }

.content-highlight {
  position: relative;
  font-weight: 400;
  color: #556270; }

.content-highlight:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.15rem;
  position: absolute;
  background-color: #FF6B6B;
  left: 0;
  bottom: -0.15rem; }

.content-lead span {
  font-weight: 600;
  color: #4ECDC4;
  position: relative; }

.content-lead span:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 0.25rem;
  background-color: #C7F464;
  bottom: -0.25rem; }

.content-description + .content-description {
  margin-top: 4rem; }

.content-description a {
  color: #4ECDC4; }
  .content-description a:hover {
    color: #C7F464; }

a.content-button {
  border: 0.2rem #C7F464 solid;
  color: #556270;
  background: #fff;
  padding: 1rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600; }
  a.content-button:hover {
    color: #4ECDC4; }

/*
  INTRO SECTION
*/
.intro-info {
  margin: 1rem auto;
  text-align: center; }

.intro-info img {
  max-width: 250px;
  border-radius: 50%; }

/*
  WORKS SECTION
*/
.works-back {
  text-transform: lowercase;
  color: #556270;
  display: inline-block;
  margin-top: 2rem; }
  .works-back:before {
    content: '';
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: #C7F464;
    margin-bottom: 1rem; }
  .works-back:hover {
    color: #FF6B6B; }

.works-item {
  display: block;
  margin-bottom: 0.8rem; }

.works-subtitle {
  color: #FF6B6B;
  font-weight: 400;
  margin: 1rem 0; }

.works-still {
  max-width: 100%; }

@media (min-width: 940px) {
  body {
    padding: 0;
    display: table;
    width: 100%; }

  header {
    position: absolute;
    right: 0;
    text-align: right;
    padding: 2rem;
    width: 10rem; }

  .header-nav {
    margin-top: 1.6rem; }

  .header-nav li {
    margin-bottom: 0.2rem; }

  main {
    padding: 4rem 2rem;
    display: table-cell;
    vertical-align: middle; }

  .content-wrapper {
    display: table-cell; }

  main:after {
    content: '';
    display: table-cell;
    width: 10rem; }

  .intro .content-description {
    display: table-cell; }

  .intro-info {
    padding-right: 2rem;
    display: table-cell;
    vertical-align: middle; }

  .intro-info img {
    max-width: 300px; } }
